

body{
    background: -webkit-linear-gradient(0deg,rgb(219, 100, 255),rgb(255, 89, 172));
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease-out;  
  
}

.head{
    height: 80vh;
    text-align: center;
    margin-top: 20vh;

}
    
.head>p{
    color: lemonchiffon
    ;
}
.head>h1{
    font-weight: 400;
    color: white;
    
}
.container {
    position: relative;
}
.btn-default{
    background-color: beige !important;
}
input{
 width: 100%;
}
.center{
    vertical-align: middle;
}