

body{
    background: -webkit-linear-gradient(-45deg,rgb(255, 238, 0),rgb(255, 0, 128));
    background-repeat: no-repeat;
    background-size: cover;
}

.head{
    height: 60vh;
    text-align: center;
    margin-top: 40vh;

}
    
.head>p{
    color: dimgray;
}
.head>h1{
    font-weight: 400;
    color: white;
    
}
.container {
    position: relative;
}