

body{
    background: -webkit-linear-gradient(0deg,rgb(196, 1, 255),rgb(255, 0, 128));
    background-repeat: no-repeat;
    background-size: cover;
}

.head{
    height: 60vh;
    text-align: center;
    margin-top: 40vh;

}
    
.head>p{
    color: lemonchiffon;
}
.head>h1{
    font-weight: 400;
    color: white;
    
}
.container {
    position: relative;
}
.btn-default{
    background-color: beige !important;
}